.container{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 15vw 25vw auto;
    grid-template-areas:
      'header header header'
      '. . .'
      '. login .'
}

.loginForm {
    grid-area: login;
    & label {
        font-size: 5vw;
    }
}

.loginHeader {
    grid-area: header;
    background-color: blue;
}
.formField {
    padding: 12px 20px;
    
}

input[type=text], input[type=password] {
    display: block;
    margin: 4px 0px 20px 10px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    &:focus {
        border: 3px solid #555;
    }    
}

